
.main_container{
    width: 65%;
    padding: 1.5em 0;
    margin-top: 15px;
}



/* ++++++++++ Responsive +++++++++++ */


/* ============ Phone ============= */

@media (max-width:500px){
    
    .main_container{
        box-sizing: border-box;
        width: 100vw;
        padding: 0 20px;
    }
}


/* ============ tablet ============= */

@media (max-width:900px){
    
    .main_container{
        box-sizing: border-box;
        width: 100vw;
        padding: 0 20px;
    }
}